@{
    ViewData["Title"] = "Summary";
}

<h1>Summary</h1>


<h2>Applicant & Experience Summary</h2>
<ul>
    <li>Minimum Experience: @ViewBag.MinExperience years</li>
    <li>Maximum Experience: @ViewBag.MaxExperience years</li>
</ul>
